@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #179729; /* Verde Primário */
        --color-secondary: #22601C; /* Verde Escuro */
        --color-accent: #C4D5B6; /* Verde Pastel */
        
        --color-background-light: #DFDFDF; /* Cinza Claro Background */
        --color-background-dark: #12150F; /* Quase Preto (Sidebar/Dark mode) */
        
        --color-surface-dark: #12150F;
        --color-border-dark: #2A2E24;
        
        --color-text-primary: #65646A; /* Textos primários */
        --color-text-dark: #12150F; /* Textos escuros/títulos */
        
        --color-danger: #DC2626; /* Vermelho */
        --color-warning: #FBBF24; /* Amarelo */
        
        --font-heading: 'Poppins', sans-serif;
        --font-body: 'Inter', sans-serif;
    }
}

body {
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

.dark {
    --background: var(--color-background-dark);
    --foreground: #f8fafc;
}

/* Scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-border-dark);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}